/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:  Ubuntu, sans-serif ;
    color:  black ;

}

h1 {
    font-size: 2rem;
    color:  white ;
	text-align: center;
}


h2 {
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
	margin: 30px;

}


}
header, main, footer {
    margin: 1.25rem auto;
    padding:  .5rem;
    max-width: 800px;
}

header, footer {
	padding: 0.5rem;
}

header, footer, footer a {
    text-align: center;
    background-color: black;
    color: white
	;
}

header img {
    width: 200px;
    height: auto;
    float: right;
	margin-top: 0.5rem;

}

main {
	height: auto;

}

footer {
	background-color: black;
    font-size:  1rem;
}
